@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Polymath";
  src: url("/font/Polymath bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141417;
  font-family: "Geist", sans-serif;
}

.polymath {
  font-family: "Polymath";
}

@layer base {
  .center-x {
    @apply translate-x-[-50%]  left-[50%];
  }

  .center-y {
    @apply translate-y-[-50%] top-[50%];
  }

  .center-xy {
    @apply translate-y-[-50%] top-[50%] translate-x-[-50%]  left-[50%];
  }

  .sub-heading {
    @apply text-[56px] font-bold leading-[110%] polymath;
  }
}

.hero {
  /* mask: url(#hero-clip); */
  /* clip-path: url(#hero-clip); */
  mask-image: url("/hero-mask.svg");
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 9000px;
}

@media screen and (min-width: 1700px) {
  .hero {
    mask-size: 30000px;
  }
}
.hero-path {
  /* transform: translate(37vw, 22vh); */
}

.lottie-clip {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    97% 70%,
    72% 95%,
    30% 100%,
    0 100%,
    0% 30%
  );
}

.hover-card-cont,
.credit-card-cont {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.hover-card {
  /* transform: rotateY(-10deg) rotateX(10deg); */
}

.early-access-gradient {
  background: radial-gradient(circle, #ffc23e, #997425);
}

.reward-tag {
  background: linear-gradient(to right, #202023, #20202380);
}

.ripple-img {
  object-fit: cover;
  /* background-color: #1b1b1f */
}