@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@font-face {
  font-family: "Polymath";
  src: url("/font/Polymath bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141417;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

.polymath {
  font-family: "Polymath";
}

@layer base {
  .stat-rect {
    @apply w-[314px] overflow-hidden whitespace-nowrap h-[1587px] absolute flex justify-center items-center rotate-[49.72deg] origin-center font-bold;
  }
}

.hero {
  clip-path: url(#hero-clip);
}

.hero-path {
  /* transform: translate(37vw, 22vh); */
}
